# SPDX-License-Identifier: MIT
# Copyright (C) 2024-2025 Advanced Micro Devices, Inc. All rights reserved.
[submodule "src/cpp/ELFIO"]
	path = src/cpp/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "src/cpp/cxxopts"]
	path = src/cpp/cxxopts
	url = https://github.com/jarro2783/cxxopts
