# SPDX-License-Identifier: MIT
# Copyright (C) 2024-2026 Advanced Micro Devices, Inc. All rights reserved.
---
# Disable all checks in this folder.
Checks: '-*'

# Stop inheriting configuration from parent directories
InheritParentConfig: false
...
